<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConsoleAppLauncher" version="1.0.6354.408" targetFramework="net48" />
  <package id="NUnit" version="3.12.0" targetFramework="net48" />
  <package id="Allure.Commons" version="3.1.0.6" targetFramework="net48" />
  <package id="MimeTypesMap" version="1.0.8" targetFramework="net48" />
  <package id="NUnit.Allure" version="1.0.11" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0-rc.1.20451.14" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0-rc.1.20451.14" targetFramework="net48" />
  <package id="System.Security.Permissions" version="5.0.0-rc.1.20451.14" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0-rc.1.20451.14" targetFramework="net48" />
</packages>